<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fuguang.order.mapper.BlackCustomerMapper">
    <resultMap id="BaseResultMap" type="cn.fuguang.entity.BlackCustomerEntity">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <select id="queryBlackCustomer" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from black_customer
        where customer_id = #{customerId,jdbcType=VARCHAR}
    </select>
</mapper>
