<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fuguang.order.mapper.GateInfoMapper">
    <resultMap id="BaseResultMap" type="cn.fuguang.entity.GateInfoEntity">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="gate_id" jdbcType="VARCHAR" property="gateId"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_sn" jdbcType="VARCHAR" property="deviceSn"/>
        <result column="gate_name" jdbcType="VARCHAR" property="gateName"/>
        <result column="gate_code" jdbcType="VARCHAR" property="gateCode"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="gate_status" jdbcType="VARCHAR" property="gateStatus"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>

    <select id="queryGateInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from gate_info
        where gate_id = #{gateId,jdbcType=VARCHAR}
    </select>
</mapper>
