<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fuguang.manager.mapper.ManagerLogMapper">
    <insert id="insertOperationLog">
        INSERT INTO operation_log(log_id, module, action, target_id, operator, content, result, create_time)
        VALUES(concat('LOG-', date_format(now(), '%Y%m%d%H%i%s'), '-', floor(rand() * 10000)),
               #{module}, #{action}, #{targetId}, #{operator}, #{content}, 'SUCCESS', now())
    </insert>
</mapper>
